@media screen and (max-width: 1199px) {
    h1 {
        font-size: 1.2195rem;
    }
    #pasos.span {
        width:30px;
        height:30px;
      }
    }
    i.material-icons{
    font-size:24px;vertical-align:sub
    }
    
    .input-group {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .input-group-addon {
        border-right: 0;
        padding: 3px 10px;
        color: #0069ef;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 4px;
        white-space: nowrap;
        vertical-align: middle;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }